$TTL 604800 

@ IN SOA dns1.diehard.net. admin.diehard.net. ( 
          42   ; Serial 
      604800   ; Refresh 
       86400   ; Retry 
     2419200   ; Expire 
      604800 ) ; Negative Cache TTL 
;
; Name servers 
diehard.net.    IN   NS   dns1.diehard.net. 
diehard.net.    IN   NS   dns2.diehard.net. 

; A records for name servers 
dns1            IN   A    192.168.56.13 
dns2            IN   A    192.168.56.14 
; Other A records 

@               IN   A    192.168.56.13 
nfsha01         IN   A    192.168.56.10 
nfsha02         IN   A    192.168.56.11 
nfsvip          IN   A    192.168.56.12 
infra01         IN   A    192.168.56.13 
infra02         IN   A    192.168.56.14 
ansible         IN   CNAME infra01 
mutualized-vip	IN   A    192.168.1.110
registry	IN   CNAME mutualized-vip
eni-todo	IN   CNAME mutualized-vip
todo		IN   CNAME mutualized-vip
; Control Plane endpoint 
api.kube        IN   A    192.168.56.15 
; 16-19 reservation for VIPs 
; k8s cluster 
k8s-master01    IN   A    192.168.56.20 
k8s-master02    IN   A    192.168.56.21 
k8s-master03    IN   A    192.168.56.22 
k8s-worker01    IN   A    192.168.56.23 
k8s-worker02    IN   A    192.168.56.24 
k8s-worker03    IN   A    192.168.56.25 
k8s-worker04    IN   A    192.168.56.26 
; nodes
node1           IN   A    192.168.56.30
node2           IN   A    192.168.56.31
; public and gw 
infra01-intra   IN   A    192.168.1.101 
infra02-intra   IN   A    192.168.1.102 
vip-gw          IN   A    192.168.56.19 


