KUBELET_KUBEADM_ARGS="--container-runtime-endpoint=unix:///var/run/containerd/containerd.sock --pod-infra-container-image=registry.k8s.io/pause:{{ image_pause_version }} --node-status-update-frequency={{ node_status_update_frequency }}"

