apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ final_pvname }} 
  labels:
    size: {{ pvsize }}i
    format: xfs
{% if labels is defined %}{% for k,v in labels.items() %}
    {{ k }}: {{ v }}
{% endfor %}{% endif %}

spec:
  capacity:
    storage: {{ pvsize }}i
  accessModes:
  - ReadWriteOnce
  - ReadWriteMany
  nfs: 
    path: /{{ final_pvname }} 
    server:  {{ nfs_vip }}
  persistentVolumeReclaimPolicy: Recycle
{% if storageclass is defined %}  storageClassName: {{ storageclass }}{% endif %}
