apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ final_pvname }} 
  labels:
    size: {{ pvsize }}i
    format: xfs
spec:
  capacity:
    storage: {{ pvsize }}i
  accessModes:
  - ReadWriteOnce
  - ReadWriteMany
  nfs: 
    path: /{{ final_pvname }} 
    server:  {{ nfs_vip }}
  persistentVolumeReclaimPolicy: Recycle
