!
! Zebra configuration
!
hostname {{ inventory_hostname }}
password zebra
enable password zebra
log file /var/log/quagga/zebra.log
!
interface {{ lan_iface }}
 ipv6 nd suppress-ra
!
interface {{ internet_iface }}
 ip address {{ internet_ip }}/{{ internet_netmask }}
 ipv6 nd suppress-ra
!
interface lo
!
line vty
!
