!
! OSPF configuration
!
hostname ospfd
password zebra
log stdout
!
interface {{ lan_iface }}
!
interface {{ internet_iface }}
!
interface lo
!
router ospf
 ospf router-id {{ internet_ip }}
 redistribute kernel route-map Filter-Private
 redistribute connected route-map Filter-Private
!
! Configure areas based on exposed networks, 
! areas must be set based on other routers
!
 network {{ internet_network }}/{{ internet_netmask }} area 0.0.0.1
 network {{ lan_network }}/{{ lan_netmask }} area 0.0.0.0
!
! Put here list of public IPs and subnets 
!
ip prefix-list Public-Net seq 5 permit {{ internet_network }}/{{ internet_netmask }} ge 32
!
route-map Filter-Private permit 10
 match ip address prefix-list Public-Net
!
route-map Default_Adv permit 10
 match ip address prefix-list RHI-host
!
line vty
!
